@import '../../styles/variables';

.DashboardTable {
    width: 100%;
}

.header {
    position: sticky;
}

.table_body {
    overflow: auto;

.tableHeaderCell {
    border-bottom: 1px solid $brown;
}

.tableCell {
    border-bottom: 1px solid $light-brown;
}

.empty_badge,
.badge {
    height: 3rem;
    width: 3rem;
}

.empty_badge {
    border-radius: 100%;
    border: 1px $brown dashed;
}

.badge_container {
    display: flex;
    justify-content: space-evenly;
}
