.NotFoundPage {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: enter;
    align-items: center;
    flex-direction: column;

    > h1 {
        font-size: 4em;
    }

    > span {
        cursor: pointer;
    }

    .lottieContainer {
        :first-child() {
            height: 2rem;
        }
    }

    .lottiePlayer {
        height: 1rem;
        width: 1rem;
    }
}
